@model WEB_ProyectoFinal_Grupo3.Models.Categoria

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <!-- Añadida la clase align-items-center -->
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Crear Categoría</h5>
                <div class="card-body">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label">Nombre:</label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Descripcion" class="form-label">Descripción:</label>
                            <textarea asp-for="Descripcion" rows="4" class="form-control" style="resize: none;" oninput="autoResize(this)"></textarea>
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ImagenArchivo" class="form-label">Imagen:</label>
                            <div class="custom-file">
                                <input asp-for="ImagenArchivo" type="file" class="custom-file-input" id="customFile1" accept=".jpg,.jpeg,.png">
                                <label class="custom-file-label" for="customFile1">Subir Logo</label>
                            </div>
                            <span asp-validation-for="ImagenArchivo" class="text-danger" style="font-size: 12px; display: block;"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </div>
</div>


@section Scripts {
    @{
        <script>
            function autoResize(textarea) {
                textarea.style.height = 'auto';
                textarea.style.height = (textarea.scrollHeight) + 'px';
            }
        </script>
       
    }
}
