@model WEB_ProyectoFinal_Grupo3.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mt-4">Detalles de la Categoría</h1>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">Nombre:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nombre)</dd>

        <dt class="col-sm-2">Descripción:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Descripcion)</dd>

        <dt class="col-sm-2">Imagen:</dt>
        <dd class="col-sm-10">
            <img src="@Model.ImagenCategoriaPath" style="max-width: 100px; max-height: 100px;" alt="Imagen de la categoría">
        </dd>
    </dl>

    <div class="row">
        <div class="col-sm-10 offset-sm-2">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id"><i class="fas fa-edit"></i> Editar</a>
            <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left"></i> Volver a la Lista</a>
        </div>
    </div>
</div>
