@model WEB_ProyectoFinal_Grupo3.Models.CategoriaPaqueteViewModel

@{
    ViewData["Title"] = "Membresias";
}

<div class="container text-center mt-1">
    <h5 class="mb-4">Elige tu membresía</h5>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="my-0 font-weight-normal">Estándar</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">RD$ 1000</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Acceso básico al portal</li>
                        <li>Contenido exclusivo</li>
                        <li>Soporte básico</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Seleccionar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="my-0 font-weight-normal">Premium</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">RD$ 2500</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Acceso completo al portal</li>
                        <li>Contenido premium</li>
                        <li>Soporte prioritario</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Seleccionar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="my-0 font-weight-normal">VIP</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">RD$ 5000</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Acceso completo al portal</li>
                        <li>Contenido VIP</li>
                        <li>Soporte premium</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
</div>

